---
name: on-schedule

on: [push]
  #schedule:
  #  - cron: '37 17,18 * * *'


jobs:
  trigger-say-hello:
    runs-on: ubuntu-latest
    steps:
    - name: call API
      env:
        TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
        #TOKEN: ${{ secrets.GITHUB_TOKEN }}
        URL: "api.github.com/repos/agvaress/test-actions/actions/workflows/downstream-dispatching-workflows.yaml/dispatches"
      run: >
        curl -X POST "https://$URL"
        -s -H "Authorization: token $TOKEN"
        -d '{"ref":"master",
          "inputs": {
            "greet": "hello from pipeline",
            "whom": "triggered"
          }
        }'
