name: trigger hello

on: [push]

jobs:
  trigger-say-hello:
    container:
      image: curlimages/curl:7.81.0
    steps:
    - name: call API
      env:
        TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
        URL: "api.github.com/repos/agvaress/test-actions/actions/workflows/downstream-dispatching-workflows.yaml/dispatches"
      args: >
        --fail -X POST "https://$URL"
        -s -H "Authorization: token $TOKEN"
        -d '{"ref":"master",
          "inputs": {
            "greet": "Hi",
            "whom": "user"
          }
        }'
