name: say hello

on: [push] 

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
    - name: Repository Dispatchi
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
        repository: agvaress/test-actions
        event-type: my-event
        client-payload: '{"greet": "hello", "whom": ",man"}'
